@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Font bawaan kamu atau disesuaikan dengan Plus Jakarta Sans */
    --font-sans: 'Plus Jakarta Sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;

    /* Custom Theme Colors untuk BACALOKA */
    --color-brand-dark: #1e3a5f;
    --color-brand-hover: #172e4d;
    --color-brand-accent: #f59e0b;
}